language: node_js
node_js:
  - "node"
  - "lts/*"
  - "8"
  - "7"
  - "6"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
services:
  - postgresql
before_script:
  - psql -c "CREATE ROLE pgtestdb WITH LOGIN PASSWORD 'pgtestdbpassword' SUPERUSER;" -U postgres
install:
  - npm install
script:
  - npm test
after_success:
  - npm run coverage